div(class="headline") 1. Event Details
.form-group
  label(for="title") EVENT TITLE
  input.form-control(type="text", name="title", placeholder="Give it a short distinct name?", value=question.title)
.form-group
  label(for="location") LOCATION
  input.form-control(type="text", name="location", placeholder="Search for a venue or address", value=question.location)
.row
  .col-6
    .form-group
      label(for="date_start") STARTS DATE
      input.form-control(type="date", name="date_start", placeholder="YYYY-MM-DD", value=moment(question.date_start).format('YYYY-MM-DD'))
  .col-6
    .form-group
      label(for="date_end") ENDS DATE
      input.form-control(type="date", name="date_end", placeholder="YYYY-MM-DD", value=moment(question.date_end).format('YYYY-MM-DD'))
.row
  .col-6
    .form-group
      label(for="start_time") START TIME 
      input.form-control(type="time", name="start_time", placeholder="EX) 10:00AM", value=question.start_time)
  .col-6
    .form-group
      label(for="end_time") END TIME 
      input.form-control(type="time", name="end_time", placeholder="EX) 10:00PM", value=question.end_time)
.form-group
  label(for="question") EVENT DESCRIPTION
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")
.form-group
  label(for="organizer") ORGANIZER NAME
  input.form-control(type="text", name="organizer", placeholder="Who's organizing this event?", value=question.organizer)
.form-group
  label(for="organizer") ORGANIZER DESCRIPTION
  textarea.form-control(name="description", rows="5")= question.description


div(class="headline") 2. Create Tickets
p What type of ticket would you like to start with?
.checkbox(name="free", value=question.free)
label
  input(type="checkbox", value=question.free)
  label.inlineLabel +FREE TICKET
.checkbox(name="paid", value=question.paid)
label
  input(type="checkbox", value=question.paid)
  label.inlineLabel +PAID TICKET
  br
  .row
    .col-6
      label(for="ticket_name") Ticket Name
      input.form-control(type="text", name="ticket_name", aria-label="Text input with radio button", value=question.ticket_name)
    .col-6
      label(for="price") Price
      div(class="input-group")
        span(class="input-group-addon") $
        input.form-control(type="text", name="price", placeholder="15.00", value=question.price)

//- input(type="checkbox", name="price", value="free ticket") +FREE TICKET
//- input(type="checkbox", name="price", value="paid ticket") +PAID TICKET

br
br
div(class="headline") 3. Additional Settings
//- .form-group
//-   label(for="type") EVENT TYPE
//-   br
//-   select#type(name='eventType')
//-     each name in eventType
//-       option(value=name, check=(name==question.eventType))= name


.form-group
  label(for="type") EVENT TYPE
  br
  select(id="type", name="eventType")
    option(value="Select the type of event") select the type of event
    option(value="Appearance or Signing") Appearance or Signing
    option(value="Attraction") Attraction
    option(value="Camp, Trip, or Retreat") Camp, Trip, or Retreat
    option(value="Concert or Performance") Concert or Performance
    option(value="Class, Training, or Workshop") Class, Training, or Workshop
    option(value="Concert or Performance") Concert or Performance
    option(value="Conference", checked=(question.value="Conference")) Conference
    option(value="Convention") Convention
    option(value="Dinner or Gala") Dinner or Gala
    option(value="Festival or Fail") Festival or Fail
    option(value="Game or Competition") Game or Competition
    option(value="Metting or Networking Event") Metting or Networking Event
    option(value="Other") Other
    option(value="Party or Social Gathering") Party or Social Gathering
    option(value="Race or Endurance Event") Race or Endurance Event
    option(value="Rally") Rally
    option(value="Screening") Screening
    option(value="Seminar or Talk") Seminar or Talk
    option(value="Tour") Tour
    option(value="Tournament") Tournament
    option(value="Tradeshow, Consumer Show, or Expo") Tradeshow, Consumer Show, or Expo
.form-group
  label(for="topic") EVENT TOPIC
  br
  select(id="topic", name="eventTopic")
    option(value="Select a topic") Select a topic
    option(value="Auto, Boat & Air") Auto, Boat & Air
    option(value="Business & Professional") Business & Professional
    option(value="Charity & Causes") Charity & Causes
    option(value="Community & Culture") Community & Culture
    option(value="Family & Education") Family & Education
    option(value="Fashion & Beauty") Fashion & Beauty
    option(value="Film, Media& Entertainment") Film, Media & Entertainment
    option(value="Food & Drink") Food & Drink
    option(value="Government & Politics") Government & Politics
    option(value="Health & Wellness") Health & Wellness
    option(value="Hobbies & Special Interest") Hobbies & Special Interest
    option(value="Home & Lifestyle") Home & Lifestyle
    option(value="Music") Muisic
    option(value="Other") Other
    option(value="Performing & Visual Arts") Performing & Visual Arts
    option(value="Religion& Spirituality") Religion & Spirituality
    option(value="School Activities") School Activities
    option(value="Science & Technology") Science & Technology
    option(value="Seasonal & Holiday") Seasonal & Holiday
    option(value="Sports & Fitness") Sports & Fitness
    option(value="Travel & Outdoor") Travel & Outdoor

br

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="_form.js")
script(type="text/javascript")